{% extends "base.html" %}
{% block content %}

<div class="card">
  <h2>Online Quiz</h2>

  <form method="POST" action="/submit">
    {% for q in questions %}
      <div style="margin-bottom:20px;">
        <p><b>{{ q[1] }}</b></p>

        {% for option in q[2:6] %}
          <label>
            <input type="radio" name="{{q[0]}}" value="{{option}}" required>
            {{ option }}
          </label><br>
        {% endfor %}
      </div>
    {% endfor %}

    <button type="submit">Submit</button>
  </form>
</div>

{% endblock %}